/* Imports fonts from Google Fonts (Abril Fatface, Karla, and Lora) with different weights and styles */
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Karla:400,400i,700,700i|Lora:400,400i,700,700i&display=swap');

/* Styles for paragraph captions, setting their color and margin */
p.caption {
  color: #777;
  margin-top: 10px;
} /* TODO What is this? */

/* Styles for paragraph code, which inherit white-space property */
p code {
  white-space: inherit;
}

/* Styles for pre elements to prevent words from breaking unnaturally */
pre {
  word-break: normal;
  word-wrap: normal;
} 

/* Inherits the white-space property for consistent code formatting */
pre code {
  white-space: inherit;
}


/*------------- Header text---------------- */

h1, h2, h3, h4 {
  font-family: 'Lora', arial, sans-serif;
}

.title {
  font-family: 'Lora';
  font-size: 4em !important;
  color: #012d72;
  margin-top: 0.275em !important;
  margin-bottom: 0.35em !important;
}

.subtitle {
  font-family: 'Lora';
  color: #0b8d96;
}

/* Sidebar Logo */
.sidebar-logo {
  width: 250px;
  max-width: 250px;
}

/* Sidebar formating --------------------------------------------*/
/* from r-pkgs.org*/

div.notice, div.warning, div.github, div.dictionary, div.reflection, div.wip {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  min-height: 120px;
  background-repeat: no-repeat;
}

div.notice{
  border: 4px #68ace5;
  border-style: solid;
  background-size: 70px;
  background-position: 15px center;
  background-color: #e8ebee;
  background-image: url("img/box-images/note.png");
}


div.warning{
  border: 4px #e0471c;
  border-style: solid;
  background-size: 70px;
  background-position: 15px center;
  background-color: #e8ebee;
  background-image: url("img/box-images/warning.png");
}

div.github{
  border: 4px #000000;
  border-style: solid;
  background-size: 70px;
  background-position: 15px center;
  background-color: #e8ebee;
  background-image: url("img/box-images/github.png");
}

div.dictionary{
  border: 4px #68ace5;
  border-style: solid;
  background-size: 70px;
  background-position: 15px center;
  background-color: #e8ebee;
  background-image: url("img/box-images/dictionary.png");
}

div.reflection{
  border: 4px #68ace5;
  border-style: solid;
  background-size: 90px;
  background-position: 15px center;
  background-color: #e8ebee;
  background-image: url("img/box-images/thinking_face.png");
}

div.wip{
  border: 4px #000000;
  border-style: solid;
  background-size: 70px;
  background-position: 15px center;
  background-color: #f4d03f;
  background-image: url("img/box-images/under_construction.png");
}

/* .book .book-body .page-wrapper .page-inner section.normal is needed
   to override the styles produced by gitbook, which are ridiculously
   overspecified. Goal of the selectors is to ensure internal "margins"
   controlled only by padding of container */
/* TODO: Where is this useful? */

.book .book-body .page-wrapper .page-inner section.normal div.rstudio-tip > :first-child,
.book .book-body .page-wrapper .page-inner section.normal div.tip > :first-child {
  margin-top: 0;
}

.book .book-body .page-wrapper .page-inner section.normal div.rstudio-tip > :last-child,
.book .book-body .page-wrapper .page-inner section.normal div.tip > :last-child {
  margin-bottom: 0;
}


/* TODO: Where is this useful? */
iframe {
   -moz-transform-origin: top left;
   -webkit-transform-origin: top left;
   -o-transform-origin: top left;
   -ms-transform-origin: top left;
   transform-origin: top left;
}

.iframe-container {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border: #ddd 2px solid;
  box-shadow: #888 0px 5px 8px;
  margin-bottom: 1em;
}

.iframe-container > iframe {
  border: none;
}



/* -----------Section anchors -------------*/

.book .book-body .page-wrapper .page-inner section.normal {
  overflow: visible !important; /*so anchor link doesn't get cut off */
}

a.anchor {
  margin-left: -30px;
  padding-right: 3px;
  display:inline-block;
  width: 30px;
  height: 30px;
  /*visibility: hidden;*/
  background-image: url(https://image.flaticon.com/icons/svg/34/34735.svg) !important;
  background-repeat: no-repeat !important;
  background-size: 20px 20px !important;
  background-position: center bottom !important;
  opacity: 0;
}


.hasAnchor:hover a.anchor,
a.anchor:hover {
  /*visibility: visible;*/
  opacity: 0.6;
}

/* disable anchors for headers with "no-anchor" class */
.no-anchor .hasAnchor:hover a.anchor,
.no-anchor a.anchor:hover {
  opacity: 0 !important;
}

@media (max-width: 1144px) { /* don't show anchor link on small screens */
  .hasAnchor:hover a.anchor {
    visibility: hidden;
  }
}


/*____Code Chunks____*/
/* TODO: Where is this useful? */

.sourceCode {
  margin-bottom: 1.5em; /* adds same amount of margin as a <p> would */
}

.sourceCode pre {
  margin: 0 !important; /* makes space above and below symmetrical*/
}


/* Footer */
.footer {
  font-family: "Lora", serif;
  font-size: 1em;
  color: #193a5c;
}


/* Navbar Header */
.navbar-logo {
    max-height: 33px;
}


/* Navbar Footer */
.nav-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #1B365D;
    color: #fff !important;
}